<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <a href="/"> </a><img src="/images/logo-mercado-liebre.svg" width= "100%" alt="Logo de mercado Liebre">
    <div> Lugar para poner la barra de búsqueda </div>
    <div> Comprá en cuotas y sin tarjeta de crédito </div>
    <nav>
        <ul type = disc>
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul>

        <ul type = disc>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="">
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <p> $6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera moulinex</p>
                </article>
            </div>
            <div>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de una Macbook pro">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </article>
            </div>
            <div>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de un samsung galaxy s10">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
        
                </article>
            </div>
            <div>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de un smart TV">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>Smart TV Samsung 43""</p>
        
                </article>
            </div>
        </section>
    </main>


    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!/p>
           
            <h2>Envío gratis desde los $2.500</h2>
            <p>Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productors. Es un beneficio de Mercado Puntos</p> 

            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, nohay nada que no puedas hacer, porque estássiempre protegid@</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L </p>

        </section>
    </footer>
</body>
</html>